@import 'mechtable.scss';
@import 'timeline.scss';
@import 'images.scss';

.inline { height: 1em; }

$phase1: #d20000;
$split1: #c70101;
$phase2: #9d1010;
$split2: #660909;
$phase3: #350000;
$phase4: #090000;
$link-color: #ff9090;

// ----------------  HEADINGS

.h1 {
	color: $link-color;
}
.h2 {
	color: $link-color;
}
.h3 {
	color: $link-color;
}

.intro {
	background-image: url("../../images/banner.webp");
	font-size: 120px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffffd6;
	background-color: rgb(255, 176, 176);
	background-size: cover;
    background-position: center;
}

.smalltext {
	font-size: 6;
	color:#898989;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.youtube-video {
	aspect-ratio: 16 / 9;
	width: 100%;
}

details {
	padding: 7px;
	background-color: #171717;
	border-radius: 2px;
	margin-bottom: 5px;
}

summary::marker {
	color: $phase2;
	font-size: 1.2em;
}
  
  
