img[class=inline] {height: 1em;}

$phase1: #d20000;
$split1: #c70101;
$phase2: #9d1010;
$split2: #660909;
$phase3: #350000;
$phase4: #090000;
$link-color: #ff9090;

// ----------------  HEADINGS

.h1 {
	color: $link-color;
}
.h2 {
	color: $link-color;
}
.h3 {
	color: $link-color;
}

.intro {
	background-image: url("../../images/banner.webp");
	font-size: 120px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffffd6;
	background-color: rgb(255, 176, 176);
	background-size: cover;
    background-position: center;
}

.arena_image {
	background-image: url("../../images/mechanics/background.webp");
	background-size: cover;
    background-position: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// ----------------  LAYOUT

.container {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}

// ----------------  THE FONTS

$border-color: #d20000;

.timeline-item {
	padding: 1em 2em;
	position: relative;
	border-left: 2px solid $border-color;
	
	p {
		font-size: 1rem;
	}
	
	&::before {
		content: attr(date-is);
		position: absolute;
		left: 2em;
		font-weight: bold;
		display: block;
		font-weight: 700;
	}

	&::after {
		width: 10px;
		height: 10px;
		display: block;
		top: 1em;
		position: absolute;
		left: -8px;
		border-radius: 10px;
		content: '';
		border: 2px solid $border-color;
		background: $phase3;
	}

	&:last-child {
		border-image: linear-gradient(
			to bottom,
			$border-color 60%,
			rgba($border-color, 0)) 1 100%
		;
	}
}